<div class="row">
    <div class="col-sm-12">
        <div class="shipping-method">
            <div class="text-uppercase shipping-method-title"></div>

            <div class="shipping-method-option">
                <span><input id="shipping-delivery-standart" class="shipping-method-radio" type="radio" name="delivery options" value="" checked="">DHL Standart</span>
                <span class="pull-right text-uppercase delivery-time">Delivery: 3-5 Days</span>
            </div>
        </div>
    </div>
</div>