<div class="col-md-6">
    <div class="checkout-steps text-right">
        <div>
            <a id="confirmation-checkout-stepone-link" href="{{content.stepWidget.shippingStepUrl}}"><span class="step-number{{#if content.stepWidget.shippingStepActive}} step-number-active{{/if}}">1</span>
                <span class="text-uppercase step-title">{{content.messages.checkout.shippingstep.title}}</span></a>
        </div>
        <div>
            <span class="step-divider"></span>
            <a id="confirmation-checkout-steptwo-link" href="#"><span class="step-number">2</span>
                <span class="text-uppercase step-title">{{content.messages.checkout.paymentstep.title}}</span></a>
        </div>
        <div>
            <span class="step-divider-two"></span>
            <a id="confirmation-checkout-stepthree-link" href="#"><span class="step-number">3</span>
                <span class="text-uppercase step-title step-title-active">{{content.messages.checkout.confirmationStep.title}}</span></a>
        </div>
    </div>
</div>